.footer {
  min-height: 41px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  flex-wrap: wrap;
}

.footer::before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 50px;
  overflow: hidden;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6,
    0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #f6f6f6,
    0 17px 2px -6px rgba(0, 0, 0, 0.2);
}

.footer ul {
  list-style: none;
}

.footer > *,
.footer button {
  color: #777;
  font-size: 13px;
}

.footer li {
  display: inline-block;
  margin: 0 2px;
  text-align: center;
}

.footer li:hover {
  border: 1px solid rgba(175, 47, 47, 0.15) !important;
  border-radius: 3px;
}

.footer > button:hover {
  text-decoration: underline;
}

.footer li:first-child {
  width: 40px;
}

.footer li:nth-child(2) {
  width: 60px;
}

.footer li:last-child {
  width: 88px;
}

.footer > button {
  width: 75px;
}

.footer button {
  background: transparent;
  border: none;
  padding: 5px 8px;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.activeButton {
  border: 1px solid rgba(175, 47, 47, 0.15) !important;
  border-radius: 3px;
}

@media screen and (max-width: 469px) {
  .footer ul {
    order: 1;
    width: 100%;
    text-align: center;
  }

  .footer p {
    order: 2;
  }

  .footer > button {
    order: 3;
  }
}
