
.todoApp {
  background: #fff;
  margin: 140px auto 40px auto;
  position: relative;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  max-width: 550px;
  min-height: 65px;
}

.todoList {
  margin: 0;
  padding: 0;
  list-style: none;
  border-top: 1px solid #e6e6e6;
}

.checkAll {
  position: absolute;
  height: 100%;
  width: 65px;
}

.checkAll::after {
  display: block;
  content: '❯';
  font-size: 22px;
  color: #e6e6e6;
  transform: rotate(90deg);
  cursor: pointer;
  margin: 21px;
}

.todosChecked {
  composes: checkAll;
}

.todosChecked::after {
  color: #737373;
}

.todoInput {
  padding: 16px 16px 16px 60px;
  border: none;
  background: rgba(0, 0, 0, 0.003);
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
  width: 100%;
  height: 65px;
  font-size: 1.5em;
  color: rgba(26, 26, 26, 0.8);
}

@media screen and (max-width: 469px) {
  .todoInput {
    font-size: 1.2em;
  }
}

.todoInput::before {
  content: '❯';
  display: block;
  height: 100%;
  font-size: 22px;
  color: #e6e6e6;
  padding: 10px 27px 10px 27px;
}

.todoInput::placeholder {
  font-style: italic;
  color: rgba(0, 0, 0, 0.17);
}
